openapi: 3.0.1
info:
  title: AgGateway Shipped Item Instance
  description: 'Allows the Farmer or the Farmer''s equipment manufacturer application (e.g., Deere Ops Center) to retrieve the Product shipped by a Retailer using the GET verb.  Allows the Retailer to POST the identifiers of the product shipped to the Grower, which will be retrieved by the Grower''s system.'
  version: '1.0'
servers:
  - url: https://shipped-item-instance.azure-api.net/wg01
paths:
  /shippedItemInstance:
    get:
      summary: GET from Cosmos
      description: 'Using the shipment identifier, one can retrieve an array of items shipped from a retailer.'
      operationId: get-shippediteminstance
      parameters:
        - name: shipment.identifier
          in: query
          description: shipment identifier generated by the retailer's system of the product shipped to the farmer.
          required: true
          schema:
            type: string
        - name: retailer.identifier
          in: query
          description: the GLN identifier of the retailer that shipped the product to the farmer.
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          description: the content type that should be returned in the response.
          required: true
          schema:
            enum:
              - application/json
              - application/vnd.aggateway.adapt.adm+zip
              - application/vnd.iso.11783+zip
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-shippedItemInstance-oagis-id-52966b796431464ebf1b132142fad43a'
              example:
                metaHeader:
                  senderIdentifier: { }
                  intermediaryIdentifier: { }
                  receiverIdentifier:
                    - { }
                  creationDateTime: { }
                  scenarioIdentifier: { }
                  correlationIdentifier: { }
                  messageIdentifier: { }
                shippedItemInstance:
                  - typeCode: { }
                    identifier:
                      content: { }
                      typeCode: { }
                    variationIdentifier:
                      content: { }
                      typeCode: { }
                    itemIdentifierSet:
                      - typeCode: { }
                        schemeVersionIdentifier: { }
                        schemeIdentifier: { }
                        schemeAgencyIdentifier: { }
                        identifier:
                          - content: { }
                            typeCode: { }
                            schemeIdentifier: { }
                            schemeAgencyIdentifier: { }
                    manufacturerItemIdentification:
                      identifier:
                        content: { }
                        typeCode: { }
                    upcid: { }
                    gtinid: { }
                    uid:
                      content: { }
                      typeCode: { }
                      schemeIdentifier: { }
                      schemeAgencyIdentifier: { }
                    lot:
                      identifier:
                        content: { }
                        typeCode: { }
                      serialNumberIdentifier:
                        - { }
                    quantity:
                      content: { }
                      unitCode: { }
                    description:
                      - content: { }
                        typeCode: { }
                    classification:
                      typeCode: { }
                      codes:
                        code:
                          - content: { }
                            typeCode: { }
                            listAgencyIdentifier: { }
                    documentReference:
                      typeCode: { }
                      identifier:
                        content: { }
                        typeCode: { }
                      documentDateTime: { }
                    attachment:
                      typeCode: { }
                      uri: { }
                    manufacturingParty:
                      identifier:
                        content: { }
                        typeCode: { }
                      name: { }
                    party:
                      - typeCode: { }
                        identifier:
                          - content: { }
                            typeCode: { }
                        name: { }
                        location:
                          glnid: { }
                    extension:
                      results:
                        quantitative:
                          resultValue:
                            - content: { }
                              name: { }
                              unitCode: { }
  /shippediteminstance:
    post:
      summary: POST to Cosmos
      description: Provides the ability to send shipped item instance JSON to Cosmos
      operationId: post-shippediteminstance
      requestBody:
        description: OAGIS JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-shippedItemInstance-oagis-id-52966b796431464ebf1b132142fad43a'
            example:
              metaHeader:
                senderIdentifier: { }
                intermediaryIdentifier: { }
                receiverIdentifier:
                  - { }
                creationDateTime: { }
                scenarioIdentifier: { }
                correlationIdentifier: { }
                messageIdentifier: { }
                eventIdentifier:
                  - { }
              shippedItemInstance:
                - typeCode: { }
                  identifier:
                    content: { }
                    typeCode: { }
                  variationIdentifier:
                    content: { }
                    typeCode: { }
                  itemIdentifierSet:
                    - typeCode: { }
                      schemeVersionIdentifier: { }
                      schemeIdentifier: { }
                      schemeAgencyIdentifier: { }
                      identifier:
                        - content: { }
                          typeCode: { }
                          schemeIdentifier: { }
                          schemeAgencyIdentifier: { }
                  manufacturerItemIdentification:
                    identifier:
                      content: { }
                      typeCode: { }
                  upcid: { }
                  gtinid: { }
                  uid:
                    content: { }
                    typeCode: { }
                    schemeIdentifier: { }
                    schemeAgencyIdentifier: { }
                  lot:
                    identifier:
                      content: { }
                      typeCode: { }
                    serialNumberIdentifier:
                      - { }
                  quantity:
                    content: { }
                    unitCode: { }
                  description:
                    - content: { }
                      typeCode: { }
                  classification:
                    typeCode: { }
                    codes:
                      code:
                        - content: { }
                          typeCode: { }
                          listAgencyIdentifier: { }
                  documentReference:
                    typeCode: { }
                    identifier:
                      content: { }
                      typeCode: { }
                    documentDateTime: { }
                  attachment:
                    typeCode: { }
                    uri: { }
                  manufacturingParty:
                    identifier:
                      content: { }
                      typeCode: { }
                    name: { }
                  party:
                    - typeCode: { }
                      identifier:
                        - content: { }
                          typeCode: { }
                      name: { }
                      location:
                        glnid: { }
                  extension:
                    results:
                      quantitative:
                        resultValue:
                          - content: { }
                            name: { }
                            unitCode: { }
      responses:
        '200':
          description: ''
          content:
            application/json: { }
components:
  schemas:
    integer:
      type: integer
    normalizedString:
      type: string
    dateTime:
      type: string
      format: date-time
    token:
      type: string
    decimal:
      type: number
    string:
      type: string
    get-shippedItemInstance-oagis-id-52966b796431464ebf1b132142fad43a:
      required:
        - metaHeader
        - shippedItemInstance
      properties:
        metaHeader:
          required:
            - creationDateTime
          type: object
          properties:
            senderIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: sender of the payload
                  example: Ceres Solution
            intermediaryIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - example: Azure
            receiverIdentifier:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/normalizedString'
                  - description: intended receiver of the payload
                    example: Farmer Bob
            creationDateTime:
              allOf:
                - $ref: '#/components/schemas/dateTime'
                - description: timestamp payload was created
                  example: '2020-07-07T18:01:11.574Z'
            scenarioIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: business process scenario identifier
                  example: Shipment from Retailer to Farmer
            correlationIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: 'used to correlate across multiple integration components, ideally generated by the originating system'
                  example: 8b0bce7c-9840-46ba-a570-c5eb9fb3e8a6
            messageIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: unique payload instance
                  example: 17603f6b-e0a9-4836-b6ba-f5aaac6b388b
          additionalProperties: false
        shippedItemInstance:
          type: array
          items:
            properties:
              typeCode:
                allOf:
                  - $ref: '#/components/schemas/token'
                  - description: type of product shipped
                    example: seed
              identifier:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - example: 34343535-1
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: shipment line identifier
                        example: shipment_line_identifier
                additionalProperties: false
                description: Shipment Line Identifier
              variationIdentifier:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - example: DEKALB
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Seed Variety
                        example: seed_variety
                additionalProperties: false
                description: Seed Variety identifier
              itemIdentifierSet:
                type: array
                items:
                  required:
                    - identifier
                  type: object
                  properties:
                    typeCode:
                      allOf:
                        - $ref: '#/components/schemas/token'
                        - description: seed treatment blended products with specific active ingredients
                          example: seed_treatment
                    schemeVersionIdentifier:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: Description of the Seed Treatment
                          example: Basic + Saltro
                    schemeIdentifier:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: Retailer's Seed Treatment identifier
                          example: '1001339'
                    schemeAgencyIdentifier:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: retailer_seed_treament_identifier
                          example: retailer_seed_treament_identifier
                    identifier:
                      minItems: 1
                      type: array
                      items:
                        required:
                          - content
                        type: object
                        properties:
                          content:
                            allOf:
                              - $ref: '#/components/schemas/normalizedString'
                              - example: Acceleron Basic 15G
                          typeCode:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: "if 'active_ingredient', set to active_ingredient; should use the same controlled vocabulary as active ingredient in Product Catalog\nelse 'product'"
                                example: product
                          schemeIdentifier:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: EPA Registration Identifier value
                                example: 264-935-524
                          schemeAgencyIdentifier:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: "EPA Registration; \nQuestion came up why there can be multiple EPA registrations for the same product \npotential reasons: 1) expired and renewed with new identifier 2) identifier per active ingredient 3) different manufacturers under the same generic, and 4) label update"
                                example: EPA
                        additionalProperties: false
                      description: product or active_ingredient value
                  additionalProperties: false
                description: "List of product mixture identifiers that were blended together to create the seed treatment, and when lot[typeCode='batch'].identifier is present\nThis should be Item Composition component"
              manufacturerItemIdentification:
                type: object
                properties:
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: '34323656565'
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: SKU or otherwise specified
                            example: SKU
                    additionalProperties: false
                    description: 'if no GTIN, then this is required, likely the manufacturer''s SKU'
                additionalProperties: false
              upcid:
                allOf:
                  - $ref: '#/components/schemas/normalizedString'
                  - example: '888346580291'
              gtinid:
                allOf:
                  - $ref: '#/components/schemas/normalizedString'
                  - description: 'GTIN for the packaged product instance, as maintained by GS1'
                    example: '00888346580291'
              uid:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - example: 0-539f82b1-df6e-11e9-b486-5ce0c51e62ce
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Implementation Guideline for encoding scheme
                        example: AgGateway
                  schemeIdentifier:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: encoding scheme
                        example: DataMatrix
                  schemeAgencyIdentifier:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Agency defining bar coding scheme
                        example: GS1
                additionalProperties: false
                description: DataMatrix or barcode encoding string
              lot:
                type: object
                properties:
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: 769MXJ4JX
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: 'seed use ''lot'', seed treatment use ''batch'', crop protection use ''batch'', crop nutrition use ''batch'''
                            example: Lot
                    additionalProperties: false
                    description: lot or batch identifier value
                  serialNumberIdentifier:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: 'Array of serial numbers associated to a specific lot or batch, used for serialized packages.  Useful for blockchain applications such as Crop Protection.'
                          example: c93b67b1-b62e-45b4-96fe-1277a341dc0d
                additionalProperties: false
                description: "the various lot and / or batch identifiers associated to the shipped item\nLot identifier is related to homogeneous items, such as seed, grains.\nBatch identifiers are related to the mixture of homogeneous items, based on a formula/ recipe."
              quantity:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/decimal'
                      - example: '100'
                  unitCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - example: BG
                additionalProperties: false
              description:
                type: array
                items:
                  required:
                    - content
                  type: object
                  properties:
                    content:
                      allOf:
                        - $ref: '#/components/schemas/string'
                        - example: DKC6253RIB-769MXJ4JX
                    typeCode:
                      allOf:
                        - $ref: '#/components/schemas/string'
                        - description: "\"mics_display\" first ten characters of long description and ten characters of lot identifier; .e.g, DKC6253RIB-769MXJ4JX\n\"long\" description  DKC62-53RIB AF2 VR2P SP50 BAS250 B"
                          example: mics_display
                  additionalProperties: false
                description: can be either 'mics_display' description or ''detailed' long description. therefore this is an array
              classification:
                type: object
                properties:
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Type of classification
                        example: Crop
                  codes:
                    required:
                      - code
                    type: object
                    properties:
                      code:
                        minItems: 1
                        type: array
                        items:
                          required:
                            - content
                          type: object
                          properties:
                            content:
                              allOf:
                                - $ref: '#/components/schemas/normalizedString'
                                - example: '11199199'
                            typeCode:
                              allOf:
                                - $ref: '#/components/schemas/token'
                                - description: Use as the description / definition.
                                  example: Corn For Grain
                            listAgencyIdentifier:
                              allOf:
                                - $ref: '#/components/schemas/token'
                                - example: USDA
                          additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
              documentReference:
                type: object
                properties:
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: This is the reference to the NotifyShipment document from which this is a subset of.
                        example: NotifyShipment
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: '34343535'
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: shipment_identifier
                            example: shipment_identifier
                    additionalProperties: false
                    description: NotifyShipment shipment identifier
                  documentDateTime:
                    allOf:
                      - $ref: '#/components/schemas/dateTime'
                      - description: Date timestamp of the NotifyShipment; date the truck left the retailer
                        example: '2020-08-07T20:15:01.123+00:00'
                additionalProperties: false
              attachment:
                type: object
                properties:
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Reference Data API
                        example: ReferenceDataAPI
                  uri:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - description: link to agiis or product
                        example: https://agiis.aggateway.org/
                additionalProperties: false
              manufacturingParty:
                type: object
                properties:
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: '343434'
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: type of identifier for the manufacturer
                            example: GLN
                    additionalProperties: false
                    description: GLN for the manufacturer
                  name:
                    allOf:
                      - $ref: '#/components/schemas/string'
                      - description: product manufacturer's name
                        example: Bayer
                additionalProperties: false
                description: Manufacturer of the product going into the field
              party:
                type: array
                items:
                  type: object
                  properties:
                    typeCode:
                      allOf:
                        - $ref: '#/components/schemas/token'
                        - description: retailer | farmer | distributor | agronomist | grower | nutritionist
                          example: retailer
                    identifier:
                      type: array
                      items:
                        required:
                          - content
                        type: object
                        properties:
                          content:
                            allOf:
                              - $ref: '#/components/schemas/normalizedString'
                              - example: '1100028417954'
                          typeCode:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: Global Local Number for Retailer's location
                                example: GLN
                        additionalProperties: false
                      description: "if typeCode='retailer', identifier of shipper/ retailer\nif typeCode='farmer', identifier of the farmer"
                    name:
                      allOf:
                        - $ref: '#/components/schemas/string'
                        - description: Name  of shipper/ retailer / farmer
                          example: 'Ceres Solutions, New Lebanon Seed Hub'
                    location:
                      type: object
                      properties:
                        glnid:
                          allOf:
                            - $ref: '#/components/schemas/normalizedString'
                            - example: '1100028417954'
                      additionalProperties: false
                  additionalProperties: false
                description: 'parties involved with the shipment transaction, usually distributor, retailer and grower'
              extension:
                type: object
                properties:
                  results:
                    type: object
                    properties:
                      quantitative:
                        type: object
                        properties:
                          resultValue:
                            type: array
                            items:
                              required:
                                - content
                                - name
                              type: object
                              properties:
                                content:
                                  allOf:
                                    - $ref: '#/components/schemas/string'
                                    - example: '23230'
                                name:
                                  allOf:
                                    - $ref: '#/components/schemas/string'
                                    - description: 'lot-weight, seed-count, seed-size are options'
                                      example: lot-weight
                                unitCode:
                                  allOf:
                                    - $ref: '#/components/schemas/token'
                                    - description: "if lot-weight, then 'LB' \nif seed-count, then 'EA'\nif seed-size, then 'IN'\nelse suppress results."
                                      example: LB
                              additionalProperties: false
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
            additionalProperties: false
      additionalProperties: false
    post-shippedItemInstance-oagis-id-52966b796431464ebf1b132142fad43a:
      required:
        - metaHeader
        - shippedItemInstance
      properties:
        metaHeader:
          required:
            - creationDateTime
          type: object
          properties:
            senderIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: sender of the payload
                  example: WinField United
            intermediaryIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - example: Atlas Pricing
            receiverIdentifier:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/normalizedString'
                  - description: intended receiver of the payload
                    example: Farmer Bob
            creationDateTime:
              allOf:
                - $ref: '#/components/schemas/dateTime'
                - description: timestamp payload was created
                  example: '2020-07-07T18:01:11.574Z'
            scenarioIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: business process scenario identifier
                  example: Price Request
            correlationIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: 'used to correlate across multiple integration components, ideally generated by the originating system'
                  example: 8b0bce7c-9840-46ba-a570-c5eb9fb3e8a6
            messageIdentifier:
              allOf:
                - $ref: '#/components/schemas/normalizedString'
                - description: unique payload instance
                  example: 17603f6b-e0a9-4836-b6ba-f5aaac6b388b
            eventIdentifier:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/normalizedString'
                  - description: 'Array of event identifiers related to CDC detected changes; there can be a 1:m relationship between a payload and change data capture events; .e.g., to support micro-batch operations.'
                    example: 35d18434-67a1-4a61-85f3-e66db4f70b0b
          additionalProperties: false
        shippedItemInstance:
          type: array
          items:
            properties:
              typeCode:
                allOf:
                  - $ref: '#/components/schemas/token'
                  - description: type of product shipped
                    example: seed
              identifier:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - example: 34343535-1
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: shipment line identifier
                        example: shipment_line_identifier
                additionalProperties: false
                description: Shipment Line Identifier
              variationIdentifier:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - example: DEKALB
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Seed Variety
                        example: seed_variety
                additionalProperties: false
                description: Seed Variety identifier
              itemIdentifierSet:
                type: array
                items:
                  required:
                    - identifier
                  type: object
                  properties:
                    typeCode:
                      allOf:
                        - $ref: '#/components/schemas/token'
                        - description: seed treatment blended products with specific active ingredients
                          example: seed_treatment
                    schemeVersionIdentifier:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: Description of the Seed Treatment
                          example: Basic + Saltro
                    schemeIdentifier:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: Retailer's Seed Treatment identifier
                          example: '1001339'
                    schemeAgencyIdentifier:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: retailer_seed_treament_identifier
                          example: retailer_seed_treament_identifier
                    identifier:
                      minItems: 1
                      type: array
                      items:
                        required:
                          - content
                        type: object
                        properties:
                          content:
                            allOf:
                              - $ref: '#/components/schemas/normalizedString'
                              - example: Acceleron Basic 15G
                          typeCode:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: "if 'active_ingredient', set to active_ingredient; should use the same controlled vocabulary as active ingredient in Product Catalog\nelse 'product'"
                                example: product
                          schemeIdentifier:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: EPA Registration Identifier value
                                example: 264-935-524
                          schemeAgencyIdentifier:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: "EPA Registration; \nQuestion came up why there can be multiple EPA registrations for the same product \npotential reasons: 1) expired and renewed with new identifier 2) identifier per active ingredient 3) different manufacturers under the same generic, and 4) label update"
                                example: EPA
                        additionalProperties: false
                      description: product or active_ingredient value
                  additionalProperties: false
                description: "List of product mixture identifiers that were blended together to create the seed treatment, and when lot[typeCode='batch'].identifier is present\nThis should be Item Composition component"
              manufacturerItemIdentification:
                type: object
                properties:
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: '34323656565'
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: SKU or otherwise specified
                            example: SKU
                    additionalProperties: false
                    description: 'if no GTIN, then this is required, likely the manufacturer''s SKU'
                additionalProperties: false
              upcid:
                allOf:
                  - $ref: '#/components/schemas/normalizedString'
                  - example: '888346580291'
              gtinid:
                allOf:
                  - $ref: '#/components/schemas/normalizedString'
                  - description: 'GTIN for the packaged product instance, as maintained by GS1'
                    example: '00888346580291'
              uid:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - example: 0-539f82b1-df6e-11e9-b486-5ce0c51e62ce
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Implementation Guideline for encoding scheme
                        example: AgGateway
                  schemeIdentifier:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: encoding scheme
                        example: DataMatrix
                  schemeAgencyIdentifier:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Agency defining bar coding scheme
                        example: GS1
                additionalProperties: false
                description: DataMatrix or barcode encoding string
              lot:
                type: object
                properties:
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: 769MXJ4JX
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: 'seed use ''lot'', seed treatment use ''batch'', crop protection use ''batch'', crop nutrition use ''batch'''
                            example: Lot
                    additionalProperties: false
                    description: lot or batch identifier value
                  serialNumberIdentifier:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/normalizedString'
                        - description: 'Array of serial numbers associated to a specific lot or batch, used for serialized packages.  Useful for blockchain applications such as Crop Protection.'
                          example: c93b67b1-b62e-45b4-96fe-1277a341dc0d
                additionalProperties: false
                description: "the various lot and / or batch identifiers associated to the shipped item\nLot identifier is related to homogeneous items, such as seed, grains.\nBatch identifiers are related to the mixture of homogeneous items, based on a formula/ recipe."
              quantity:
                required:
                  - content
                type: object
                properties:
                  content:
                    allOf:
                      - $ref: '#/components/schemas/decimal'
                      - example: '100'
                  unitCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - example: BG
                additionalProperties: false
              description:
                type: array
                items:
                  required:
                    - content
                  type: object
                  properties:
                    content:
                      allOf:
                        - $ref: '#/components/schemas/string'
                        - example: DKC6253RIB-769MXJ4JX
                    typeCode:
                      allOf:
                        - $ref: '#/components/schemas/string'
                        - description: "\"mics_display\" first ten characters of long description and ten characters of lot identifier; .e.g, DKC6253RIB-769MXJ4JX\n\"long\" description  DKC62-53RIB AF2 VR2P SP50 BAS250 B"
                          example: mics_display
                  additionalProperties: false
                description: can be either 'mics_display' description or ''detailed' long description. therefore this is an array
              classification:
                type: object
                properties:
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Type of classification
                        example: Crop
                  codes:
                    required:
                      - code
                    type: object
                    properties:
                      code:
                        minItems: 1
                        type: array
                        items:
                          required:
                            - content
                          type: object
                          properties:
                            content:
                              allOf:
                                - $ref: '#/components/schemas/normalizedString'
                                - example: '11199199'
                            typeCode:
                              allOf:
                                - $ref: '#/components/schemas/token'
                                - description: Use as the description / definition.
                                  example: Corn For Grain
                            listAgencyIdentifier:
                              allOf:
                                - $ref: '#/components/schemas/token'
                                - example: USDA
                          additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
              documentReference:
                type: object
                properties:
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: This is the reference to the NotifyShipment document from which this is a subset of.
                        example: NotifyShipment
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: '34343535'
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: shipment_identifier
                            example: shipment_identifier
                    additionalProperties: false
                    description: NotifyShipment shipment identifier
                  documentDateTime:
                    allOf:
                      - $ref: '#/components/schemas/dateTime'
                      - description: Date timestamp of the NotifyShipment; date the truck left the retailer
                        example: '2020-08-07T20:15:01.123+00:00'
                additionalProperties: false
              attachment:
                type: object
                properties:
                  typeCode:
                    allOf:
                      - $ref: '#/components/schemas/token'
                      - description: Reference Data API
                        example: ReferenceDataAPI
                  uri:
                    allOf:
                      - $ref: '#/components/schemas/normalizedString'
                      - description: link to agiis or product
                        example: https://agiis.aggateway.org/
                additionalProperties: false
              manufacturingParty:
                type: object
                properties:
                  identifier:
                    required:
                      - content
                    type: object
                    properties:
                      content:
                        allOf:
                          - $ref: '#/components/schemas/normalizedString'
                          - example: '343434'
                      typeCode:
                        allOf:
                          - $ref: '#/components/schemas/token'
                          - description: type of identifier for the manufacturer
                            example: GLN
                    additionalProperties: false
                    description: GLN for the manufacturer
                  name:
                    allOf:
                      - $ref: '#/components/schemas/string'
                      - description: product manufacturer's name
                        example: Bayer
                additionalProperties: false
                description: Manufacturer of the product going into the field
              party:
                type: array
                items:
                  type: object
                  properties:
                    typeCode:
                      allOf:
                        - $ref: '#/components/schemas/token'
                        - description: retailer | farmer | distributor | agronomist | grower | nutritionist
                          example: retailer
                    identifier:
                      type: array
                      items:
                        required:
                          - content
                        type: object
                        properties:
                          content:
                            allOf:
                              - $ref: '#/components/schemas/normalizedString'
                              - example: '1100028417954'
                          typeCode:
                            allOf:
                              - $ref: '#/components/schemas/token'
                              - description: Global Local Number for Retailer's location
                                example: GLN
                        additionalProperties: false
                      description: "if typeCode='retailer', identifier of shipper/ retailer\nif typeCode='farmer', identifier of the farmer"
                    name:
                      allOf:
                        - $ref: '#/components/schemas/string'
                        - description: Name  of shipper/ retailer / farmer
                          example: 'Ceres Solutions, New Lebanon Seed Hub'
                    location:
                      type: object
                      properties:
                        glnid:
                          allOf:
                            - $ref: '#/components/schemas/normalizedString'
                            - example: '1100028417954'
                      additionalProperties: false
                  additionalProperties: false
                description: 'parties involved with the shipment transaction, usually distributor, retailer and grower'
              extension:
                type: object
                properties:
                  results:
                    type: object
                    properties:
                      quantitative:
                        type: object
                        properties:
                          resultValue:
                            type: array
                            items:
                              required:
                                - content
                                - name
                              type: object
                              properties:
                                content:
                                  allOf:
                                    - $ref: '#/components/schemas/string'
                                    - example: '23230'
                                name:
                                  allOf:
                                    - $ref: '#/components/schemas/string'
                                    - description: 'lot-weight, seed-count, seed-size are options'
                                      example: lot-weight
                                unitCode:
                                  allOf:
                                    - $ref: '#/components/schemas/token'
                                    - description: "if lot-weight, then 'LB' \nif seed-count, then 'EA'\nif seed-size, then 'IN'\nelse suppress results."
                                      example: LB
                              additionalProperties: false
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
            additionalProperties: false
      additionalProperties: false
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - apiKeyHeader: [ ]
  - apiKeyQuery: [ ]